.sideBarNav{
    height: 100%;
    background: #149D89;
    padding-top: 50px;
}
.navMenu{
    color: white;
    cursor: pointer;
    padding: 10px;
    font-size: 15px;
    text-align: center;
    align-items: center;
}
.sideBarNav .active{
    background: #0C8371;
}
.navMenu:hover{
    background: #05947e;

}
.navMenu a {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
.navMenu a:hover {
    color: #ffffff;
    text-decoration: none;
    background-color: transparent;
}
.side-bar-sty{
    font: normal normal normal  14px/26px Nunito;
}
@media only screen and (max-width: 500px) {
    .sideBarNav{
      display:none;
    }
  }